@model Entities.Concrete.WiredText

@{
    ViewData["Title"] = "CreateExam";
}
@section styles{
    <link href="~/css/adminHome.css?@(DateTime.Now.Ticks)" rel="stylesheet" />
}
<div class="row">
    <h5 class="pr-3"><a href="/AdminHome/Index"><i class="fas fa-arrow-left"></i>Listeye Dön</a></h5>
    <h2>@Model.Title</h2>

</div>
<div class="row justify-content-center subject">
    <div class="col-12" style="margin:10px;align-items:center">
        <button class="btn btn-sm btn-success" id="btnUpdWired_@Model.Id" onclick="GetUpdateWired(@Model.Id)">Metni Düzenle</button> 

        <a href="@Model.TextUrl" id="wiredLink_@Model.Id" target="_blank" style="display:none">Metine Gitmek İçin Tıklayın <i class="fas fa-link"></i></a>
        <br />
        <div class="row col-12" id="dvWiredText_@Model.Id" style="display:none">

            <textarea id="WiredText_@Model.Id" rows="10" style="width:100%;">@Html.Raw(Model.Text)</textarea>

        </div>
        <button class="btn btn-sm btn-success" id="btnWired_@Model.Id" style="display:none" onclick="UpdateWiredText(@Model.Id)">Metni Güncelle</button> 

        <div id="dvWired_@Model.Id">
            @Html.Raw(Model.Text)
        </div>



    </div>
</div>
<style>
</style>
@**@
<form asp-action="CreateExam" asp-controller="AdminHome"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-begin="formBegin"
      data-ajax-success="formSuccess"
      data-ajax-failure="formError">
    <input name="WiredTextId" type="hidden" value="@Model.Id" />
    @for (int i = 0; i < 4; i++)
    {
        @await Html.PartialAsync("_Question", i)
    }
    <div class="row col-12 justify-content-end">
        <button class="btn btn-success pr-5 btnSubmit">Sınav Oluştur</button>
    </div>
</form>


<script>
    function UpdateWiredText(id) {

        $.ajax({
            url: "/AdminHome/UpdateWiredText",
            type: "post",
            dataType: "json",
            data: { id: id, text: $("#WiredText_" + id).val() },
            success: function (response) {
                $("#wiredLink_" + id).css("display", "none");
                $("#dvWiredText_" + id).css("display", "none");
                $("#btnWired_" + id).css("display", "none");

                $("#dvWired_" + id).css("display", "block");
                $("#dvWired_" + id).css("display", "block");
                $("#btnUpdWired_" + id).css("display", "block");

                $("#dvWired_" + id).html($("#WiredText_" + id).val());

                toastMessage(response.statusCode, response.responseMessage);
            }
            , error: function (jqXHR, exception) {
                ajaxError(jqXHR);
            }
        })
    }
    function GetUpdateWired(id) {
        $("#wiredLink_" + id).css("display","block");
        $("#dvWiredText_" + id).css("display","block");
        $("#btnWired_" + id).css("display", "block");

        $("#dvWired_" + id).css("display","none");
        $("#dvWired_" + id).css("display","none");
        $("#btnUpdWired_" + id).css("display","none");
    }
</script>